@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  * {
    box-sizing: border-box;
  }

  /* Estilizando o scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    /* Cor do thumb */
    background-color: #bdbdc0;
    /* Bordas arredondadas */
    border-radius: 10px;
    /* Cor da área em volta do thumb */
    border: 3px solid #edf2f7;
  }

  ::-webkit-scrollbar-track {
    /* Cor do track */
    background: #fff;
  }
}

/* classe para poder personalizar qualquer scrollbar na aplicação */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

/* Scroll completamente invisível */
.scrollbar-invisible {
  -ms-overflow-style: none; /* Para IE e Edge */
  scrollbar-width: none; /* Para Firefox */
}

.scrollbar-invisible::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari e Opera */
}
